@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_index\.scss}line{font-family:\000031}}
.splash {
  background-image: url("../media/bg.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_index\.scss}line{font-family:\0000311}}
  .splash a {
    background-color: #FAE42F;
    color: black;
    text-decoration: none;
    padding: 1% 2%;
    font-size: 2em;
    border-radius: 0.2em; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_grid\.scss}line{font-family:\0000320}}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_grid\.scss}line{font-family:\0000313}}
.row::after {
  clear: both;
  display: block;
  content: ""; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_grid\.scss}line{font-family:\0000330}}
.col1 {
  width: 8.3333333333%;
  float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_grid\.scss}line{font-family:\0000330}}
.col2 {
  width: 16.6666666667%;
  float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_grid\.scss}line{font-family:\0000330}}
.col3 {
  width: 25%;
  float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_grid\.scss}line{font-family:\0000330}}
.col4 {
  width: 33.3333333333%;
  float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_grid\.scss}line{font-family:\0000330}}
.col5 {
  width: 41.6666666667%;
  float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_grid\.scss}line{font-family:\0000330}}
.col6 {
  width: 50%;
  float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_grid\.scss}line{font-family:\0000330}}
.col7 {
  width: 58.3333333333%;
  float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_grid\.scss}line{font-family:\0000330}}
.col8 {
  width: 66.6666666667%;
  float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_grid\.scss}line{font-family:\0000330}}
.col9 {
  width: 75%;
  float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_grid\.scss}line{font-family:\0000330}}
.col10 {
  width: 83.3333333333%;
  float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_grid\.scss}line{font-family:\0000330}}
.col11 {
  width: 91.6666666667%;
  float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_grid\.scss}line{font-family:\0000330}}
.col12 {
  width: 100%;
  float: left; }

@media screen and (min-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_grid\.scss}line{font-family:\0000340}}
  .colM1 {
    width: 8.3333333333%;
    float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_grid\.scss}line{font-family:\0000340}}
  .colM2 {
    width: 16.6666666667%;
    float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_grid\.scss}line{font-family:\0000340}}
  .colM3 {
    width: 25%;
    float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_grid\.scss}line{font-family:\0000340}}
  .colM4 {
    width: 33.3333333333%;
    float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_grid\.scss}line{font-family:\0000340}}
  .colM5 {
    width: 41.6666666667%;
    float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_grid\.scss}line{font-family:\0000340}}
  .colM6 {
    width: 50%;
    float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_grid\.scss}line{font-family:\0000340}}
  .colM7 {
    width: 58.3333333333%;
    float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_grid\.scss}line{font-family:\0000340}}
  .colM8 {
    width: 66.6666666667%;
    float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_grid\.scss}line{font-family:\0000340}}
  .colM9 {
    width: 75%;
    float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_grid\.scss}line{font-family:\0000340}}
  .colM10 {
    width: 83.3333333333%;
    float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_grid\.scss}line{font-family:\0000340}}
  .colM11 {
    width: 91.6666666667%;
    float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_grid\.scss}line{font-family:\0000340}}
  .colM12 {
    width: 100%;
    float: left; } }
@media screen and (min-width: 900px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_grid\.scss}line{font-family:\0000350}}
  .colL1 {
    width: 8.3333333333%;
    float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_grid\.scss}line{font-family:\0000350}}
  .colL2 {
    width: 16.6666666667%;
    float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_grid\.scss}line{font-family:\0000350}}
  .colL3 {
    width: 25%;
    float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_grid\.scss}line{font-family:\0000350}}
  .colL4 {
    width: 33.3333333333%;
    float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_grid\.scss}line{font-family:\0000350}}
  .colL5 {
    width: 41.6666666667%;
    float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_grid\.scss}line{font-family:\0000350}}
  .colL6 {
    width: 50%;
    float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_grid\.scss}line{font-family:\0000350}}
  .colL7 {
    width: 58.3333333333%;
    float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_grid\.scss}line{font-family:\0000350}}
  .colL8 {
    width: 66.6666666667%;
    float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_grid\.scss}line{font-family:\0000350}}
  .colL9 {
    width: 75%;
    float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_grid\.scss}line{font-family:\0000350}}
  .colL10 {
    width: 83.3333333333%;
    float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_grid\.scss}line{font-family:\0000350}}
  .colL11 {
    width: 91.6666666667%;
    float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_grid\.scss}line{font-family:\0000350}}
  .colL12 {
    width: 100%;
    float: left; } }
/* Add a black background color to the top navigation */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_nav\.scss}line{font-family:\000032}}
.topnav {
  background-color: #014633;
  overflow: hidden;
  height: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

/* Style the links inside the navigation bar */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_nav\.scss}line{font-family:\0000311}}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 1% 2%;
  text-decoration: none;
  font-size: 17px;
  height: 100%; }

/* Change the color of links on hover */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_nav\.scss}line{font-family:\0000323}}
.topnav a:hover {
  background-color: #FAE42F;
  color: black; }

/* Add an active class to highlight the current page */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_nav\.scss}line{font-family:\0000329}}
.topnav a.active {
  background-color: #FAE42F;
  color: black; }

/* Hide the link that should open and close the topnav on small screens */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_nav\.scss}line{font-family:\0000335}}
.topnav .icon {
  display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_nav\.scss}line{font-family:\0000339}}
a.icon {
  font-size: 300%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_nav\.scss}line{font-family:\0000344}}
.nav-logo {
  float: left;
  height: 100%;
  font-size: 17px;
  padding-right: 3%; }

@media screen and (min-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_nav\.scss}line{font-family:\0000352}}
  .nav-logo {
    display: hidden; } }
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_nav\.scss}line{font-family:\0000360}}
  .topnav a:not(:first-child) {
    display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_nav\.scss}line{font-family:\0000361}}
  .topnav a.icon {
    float: right;
    display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_nav\.scss}line{font-family:\0000366}}
  .topnav {
    display: inherit;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    -webkit-box-align: none;
        -ms-flex-align: none;
            align-items: none;
    overflow: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_nav\.scss}line{font-family:\0000373}}
  .topnav a {
    height: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_nav\.scss}line{font-family:\0000377}}
  .nav-logo {
    display: hidden; } }
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_nav\.scss}line{font-family:\0000384}}
  .topnav.responsive {
    position: relative; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_nav\.scss}line{font-family:\0000385}}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_nav\.scss}line{font-family:\0000390}}
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_footer\.scss}line{font-family:\000034}}
.footer {
  background-color: #014633;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5% 0%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_footer\.scss}line{font-family:\0000310}}
  .footer a {
    text-decoration: none;
    color: white; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_shop\.scss}line{font-family:\000035}}
h1 {
  color: black; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_shop\.scss}line{font-family:\000039}}
.shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_shop\.scss}line{font-family:\0000316}}
.shop-item-container {
  width: 90%;
  overflow: auto;
  background-color: #014633;
  margin: 5% 5%;
  border-radius: 1em;
  color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_shop\.scss}line{font-family:\0000324}}
  .shop-item-container a {
    text-decoration: none;
    color: black;
    background-color: #FAE42F;
    padding: 2% 3%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_shop\.scss}line{font-family:\0000331}}
  .shop-item-container h3 {
    float: right; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_shop\.scss}line{font-family:\0000336}}
.shop-item-text {
  width: 80%;
  margin: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_shop\.scss}line{font-family:\0000343}}
.filter {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 0% 0% 5% 5%;
  background-color: lightgrey;
  width: 12%;
  padding: 2%;
  border-radius: 10em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_shop\.scss}line{font-family:\0000357}}
  .filter img {
    width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_shop\.scss}line{font-family:\0000362}}
.filter-popup {
  padding: 5% 5%;
  display: none;
  background-color: #013b2a;
  border-radius: 1em;
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 0% 4% 19% 4%;
  width: 92%;
  z-index: 100;
  color: white;
  overflow: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_shop\.scss}line{font-family:\0000377}}
  .filter-popup form label {
    float: left;
    color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_shop\.scss}line{font-family:\0000382}}
  .filter-popup form select {
    float: none;
    border: 1px solid white;
    margin-bottom: 4%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_beds\.scss}line{font-family:\000032}}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/* Position the image container (needed to position the left and right arrows) */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_beds\.scss}line{font-family:\000037}}
.container {
  position: relative; }

/* Hide the images by default */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_beds\.scss}line{font-family:\0000312}}
.mySlides {
  display: none; }

/* Add a pointer when hovering over the thumbnail images */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_beds\.scss}line{font-family:\0000317}}
.cursor {
  cursor: pointer; }

/* Next & previous buttons */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_beds\.scss}line{font-family:\0000322}}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none; }

/* Position the "next button" to the right */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_beds\.scss}line{font-family:\0000339}}
.next {
  right: 0;
  border-radius: 3px 0 0 3px; }

/* On hover, add a black background color with a little bit see-through */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_beds\.scss}line{font-family:\0000345}}
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8); }

/* Number text (1/3 etc) */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_beds\.scss}line{font-family:\0000351}}
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0; }

/* Container for image text */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_beds\.scss}line{font-family:\0000360}}
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_beds\.scss}line{font-family:\0000367}}
.row:after {
  content: "";
  display: table;
  clear: both; }

/* Six columns side by side */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_beds\.scss}line{font-family:\0000374}}
.column {
  float: left;
  width: 16.66%; }

/* Add a transparency effect for thumnbail images */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_beds\.scss}line{font-family:\0000380}}
.demo {
  opacity: 0.6; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_beds\.scss}line{font-family:\0000384}}
.active,
.demo:hover {
  opacity: 1; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_beds\.scss}line{font-family:\0000395}}
.bed-text {
  margin: 5% 5% 5% 5%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_beds\.scss}line{font-family:\00003100}}
.bed-form label {
  float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_beds\.scss}line{font-family:\00003104}}
.bed-form select {
  background-color: white;
  margin-bottom: 5%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/_beds\.scss}line{font-family:\00003109}}
  .bed-form select option {
    width: 100%;
    border: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/styles\.scss}line{font-family:\0000313}}
body {
  padding: 0;
  margin: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Jason\/Desktop\/wellington-beds\/sass\/styles\.scss}line{font-family:\0000318}}
* {
  font-family: 'Montserrat', sans-serif; }

/*# sourceMappingURL=styles.css.map */