/* line 1, ../sass/_index.scss */
.splash {
  background-image: url("../media/bg.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  /* line 11, ../sass/_index.scss */
  .splash a {
    background-color: #FAE42F;
    color: black;
    text-decoration: none;
    padding: 1% 2%;
    font-size: 2em;
    border-radius: 0.2em; }

/* line 20, ../sass/_grid.scss */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/* line 13, ../sass/_grid.scss */
.row::after {
  clear: both;
  display: block;
  content: ""; }

/* line 30, ../sass/_grid.scss */
.col1 {
  width: 8.3333333333%;
  float: left; }

/* line 30, ../sass/_grid.scss */
.col2 {
  width: 16.6666666667%;
  float: left; }

/* line 30, ../sass/_grid.scss */
.col3 {
  width: 25%;
  float: left; }

/* line 30, ../sass/_grid.scss */
.col4 {
  width: 33.3333333333%;
  float: left; }

/* line 30, ../sass/_grid.scss */
.col5 {
  width: 41.6666666667%;
  float: left; }

/* line 30, ../sass/_grid.scss */
.col6 {
  width: 50%;
  float: left; }

/* line 30, ../sass/_grid.scss */
.col7 {
  width: 58.3333333333%;
  float: left; }

/* line 30, ../sass/_grid.scss */
.col8 {
  width: 66.6666666667%;
  float: left; }

/* line 30, ../sass/_grid.scss */
.col9 {
  width: 75%;
  float: left; }

/* line 30, ../sass/_grid.scss */
.col10 {
  width: 83.3333333333%;
  float: left; }

/* line 30, ../sass/_grid.scss */
.col11 {
  width: 91.6666666667%;
  float: left; }

/* line 30, ../sass/_grid.scss */
.col12 {
  width: 100%;
  float: left; }

@media screen and (min-width: 600px) {
  /* line 40, ../sass/_grid.scss */
  .colM1 {
    width: 8.3333333333%;
    float: left; }

  /* line 40, ../sass/_grid.scss */
  .colM2 {
    width: 16.6666666667%;
    float: left; }

  /* line 40, ../sass/_grid.scss */
  .colM3 {
    width: 25%;
    float: left; }

  /* line 40, ../sass/_grid.scss */
  .colM4 {
    width: 33.3333333333%;
    float: left; }

  /* line 40, ../sass/_grid.scss */
  .colM5 {
    width: 41.6666666667%;
    float: left; }

  /* line 40, ../sass/_grid.scss */
  .colM6 {
    width: 50%;
    float: left; }

  /* line 40, ../sass/_grid.scss */
  .colM7 {
    width: 58.3333333333%;
    float: left; }

  /* line 40, ../sass/_grid.scss */
  .colM8 {
    width: 66.6666666667%;
    float: left; }

  /* line 40, ../sass/_grid.scss */
  .colM9 {
    width: 75%;
    float: left; }

  /* line 40, ../sass/_grid.scss */
  .colM10 {
    width: 83.3333333333%;
    float: left; }

  /* line 40, ../sass/_grid.scss */
  .colM11 {
    width: 91.6666666667%;
    float: left; }

  /* line 40, ../sass/_grid.scss */
  .colM12 {
    width: 100%;
    float: left; } }
@media screen and (min-width: 900px) {
  /* line 50, ../sass/_grid.scss */
  .colL1 {
    width: 8.3333333333%;
    float: left; }

  /* line 50, ../sass/_grid.scss */
  .colL2 {
    width: 16.6666666667%;
    float: left; }

  /* line 50, ../sass/_grid.scss */
  .colL3 {
    width: 25%;
    float: left; }

  /* line 50, ../sass/_grid.scss */
  .colL4 {
    width: 33.3333333333%;
    float: left; }

  /* line 50, ../sass/_grid.scss */
  .colL5 {
    width: 41.6666666667%;
    float: left; }

  /* line 50, ../sass/_grid.scss */
  .colL6 {
    width: 50%;
    float: left; }

  /* line 50, ../sass/_grid.scss */
  .colL7 {
    width: 58.3333333333%;
    float: left; }

  /* line 50, ../sass/_grid.scss */
  .colL8 {
    width: 66.6666666667%;
    float: left; }

  /* line 50, ../sass/_grid.scss */
  .colL9 {
    width: 75%;
    float: left; }

  /* line 50, ../sass/_grid.scss */
  .colL10 {
    width: 83.3333333333%;
    float: left; }

  /* line 50, ../sass/_grid.scss */
  .colL11 {
    width: 91.6666666667%;
    float: left; }

  /* line 50, ../sass/_grid.scss */
  .colL12 {
    width: 100%;
    float: left; } }
/* Add a black background color to the top navigation */
/* line 2, ../sass/_nav.scss */
.topnav {
  background-color: #014633;
  overflow: hidden;
  height: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

/* Style the links inside the navigation bar */
/* line 11, ../sass/_nav.scss */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 1% 2%;
  text-decoration: none;
  font-size: 17px;
  height: 100%; }

/* Change the color of links on hover */
/* line 23, ../sass/_nav.scss */
.topnav a:hover {
  background-color: #FAE42F;
  color: black; }

/* Add an active class to highlight the current page */
/* line 29, ../sass/_nav.scss */
.topnav a.active {
  background-color: #FAE42F;
  color: black; }

/* Hide the link that should open and close the topnav on small screens */
/* line 35, ../sass/_nav.scss */
.topnav .icon {
  display: none; }

/* line 40, ../sass/_nav.scss */
.nav-logo {
  float: left;
  height: 100%;
  font-size: 17px;
  padding-right: 3%; }

@media screen and (min-width: 600px) {
  /* line 48, ../sass/_nav.scss */
  .nav-logo {
    display: hidden; } }
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  /* line 56, ../sass/_nav.scss */
  .topnav a:not(:first-child) {
    display: none; }

  /* line 57, ../sass/_nav.scss */
  .topnav a.icon {
    float: right;
    display: block; }

  /* line 62, ../sass/_nav.scss */
  .topnav {
    display: inherit;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    -webkit-box-align: none;
        -ms-flex-align: none;
            align-items: none;
    overflow: auto; }

  /* line 69, ../sass/_nav.scss */
  .topnav a {
    height: auto; }

  /* line 73, ../sass/_nav.scss */
  .nav-logo {
    display: hidden; } }
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  /* line 80, ../sass/_nav.scss */
  .topnav.responsive {
    position: relative; }

  /* line 81, ../sass/_nav.scss */
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0; }

  /* line 86, ../sass/_nav.scss */
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left; } }
/* line 4, ../sass/_footer.scss */
.footer {
  background-color: #014633;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5% 0%; }
  /* line 10, ../sass/_footer.scss */
  .footer a {
    text-decoration: none;
    color: white; }

/* line 5, ../sass/_shop.scss */
h1 {
  color: black; }

/* line 9, ../sass/_shop.scss */
.shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

/* line 16, ../sass/_shop.scss */
.shop-item-container {
  width: 90%;
  overflow: auto;
  background-color: #014633;
  margin: 5% 5%;
  border-radius: 1em;
  color: white; }
  /* line 24, ../sass/_shop.scss */
  .shop-item-container a {
    text-decoration: none;
    color: black;
    background-color: #FAE42F;
    padding: 2% 3%; }
  /* line 31, ../sass/_shop.scss */
  .shop-item-container h3 {
    float: right; }

/* line 36, ../sass/_shop.scss */
.shop-item-text {
  width: 80%;
  margin: auto; }

/* line 43, ../sass/_shop.scss */
.filter {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 0% 0% 5% 5%;
  background-color: lightgrey;
  width: 12%;
  padding: 2%;
  border-radius: 10em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer; }
  /* line 57, ../sass/_shop.scss */
  .filter img {
    width: 100%; }

/* line 62, ../sass/_shop.scss */
.filter-popup {
  padding: 5% 5%;
  display: none;
  background-color: #013b2a;
  border-radius: 1em;
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 0% 4% 19% 4%;
  width: 92%;
  z-index: 100; }
  /* line 75, ../sass/_shop.scss */
  .filter-popup form label {
    float: left;
    color: white; }
  /* line 80, ../sass/_shop.scss */
  .filter-popup form select {
    float: right; }

/* line 12, ../sass/styles.scss */
body {
  padding: 0;
  margin: 0; }

/* line 17, ../sass/styles.scss */
* {
  font-family: 'Montserrat', sans-serif; }

/*# sourceMappingURL=styles.css.map */