.cart-container {
  margin: 0 auto;
  width: 80%;
  clear: both;
  display: block;
  content: "";
  margin-bottom: 5%;
  padding-bottom: 5%;
  margin-top: 5%;
  overflow: auto;
}

.cart-col {
  // background-color: grey;
}

.cart-1 {
  width: 47%;

  img {
    width: 90%;
  }
}

.cart-2 {
  width: 23%;
}

.cart-3 {
  width: 23%;
  text-align: right;
  display: flex;
  flex-direction: column;

  a {
    align-self: flex-end;
  }

  p {
    text-decoration: underline;
  }
}

.total-cost {
  // min-width: 20%;
  width: 20%;
  float: right;
  clear: both;
  display: block;
  content: "";

  td {
    padding: 4%;
    width: 50%;
  }
}
