.splash {
  background-image: url("../media/bg.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  a {
    background-color: #FAE42F;
    color: black;
    text-decoration: none;
    padding: 1% 2%;
    font-size: 2em;
    border-radius: 0.2em;
  }

  h1 {
    color: white;
    padding: 0;
    margin: 0;
    text-decoration: underline;
    font-size: 3.2em;
    font-weight: 300;
    text-align: center;
  }
}


// Desktop Optimization
@media screen and (min-width: 600px) {
  .splash {

    h1 {
      font-size: 4em;
    }
  }
}
