// Global Variables
$wbyellow: #FAE42F;
$wbgreen: #014633;

h1 {
  color: black;
}

.shop {
  // display: flex;
  // justify-content: center;
  // align-items: center;
}


.shop-item-container {
  width: 90%;
  overflow: auto;
  background-color: #014633;
  margin: 5% 5%;
  border-radius: 1em;
  color: white;

  a {
    text-decoration: none;
    color: black;
    background-color: #FAE42F;
    padding: 2% 3%;
  }

  h3 {
    float: right;
  }
}

.shop-item-text {
  width: 80%;
  margin: auto;
}



.filter {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 0% 0% 5% 5%;
  background-color: $wbyellow;
  width: 12%;
  padding: 2%;
  border-radius: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  img {
    width: 100%;
  }
}

.filter-popup {
  padding: 5% 5%;
  display: none;
  background-color: #013b2a;
  border-radius: 1em;
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 0% 4% 19% 4%;
  width: 92%;
  z-index: 100;
  color: white;
  overflow: auto;

  button {
    @include button();
  }

  form {
    label {
      float: left;
      color: white;
    }

    select {
      float: none;
      // border: 1px solid white;
      border: none;
      margin-bottom: 4%;
      background-color: white;
      border-radius: 0;
      padding: 10em 10%;
      box-sizing: border-box;
      width: 100%;
    }
  }
}



// New Drop down system
.dropdown-trigger {
  background-color: white;
  width: 100%;
  color: black;
  padding: 1%;
  padding-left: 2%;
  font-weight: 300;

  h3 {
    padding: 0;
    margin: 0.1em;;
    line-height: 0.2em;
    margin: none;
  }
}

.selectdrop {
  text-decoration: none;
}






@media screen and (min-width: 600px) {
  .filter {
    width: 5%;
    padding: 1%;
    img {
      width: 100%;
    }
  }

  .filter-popup {
    width: 20%;
    margin: 0% 2% 11% 4%;
    padding: 2% 2%;
  }
}
