@import "variables";
@import "mixins";

@import "index";
@import "grid";
@import "nav";
@import "footer";
@import "_shop";
@import "beds";



// css for all pages
body {
  padding: 0;
  margin: 0;
}

* {
  font-family: 'Montserrat', sans-serif;
}
