@import "index";
@import "grid";
@import "nav";
@import "footer";
@import "_shop";

// Global Variables
$wbyellow: #FAE42F;
$wbgreen: #014633;

// css for all pages
body {
  padding: 0;
  margin: 0;
}

* {
  font-family: 'Montserrat', sans-serif;
}
