@import "variables";
@import "mixins";

@import "index";
@import "grid";
@import "nav";
@import "footer";
@import "_shop";
@import "beds";
@import "cart";


// css for all pages
body {
  padding: 0;
  margin: 0;
}

* {
  font-family: 'Montserrat', sans-serif;
}


// OOCSS
.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.standard-button {
  @include button();
  text-decoration: none;
  color: black;
}

.fr {
  float: right;
}

.hidden {
  overflow: hidden;
}
